.body_style{
    background-image:url("https://library.sportingnews.com/2023-03/GettyImages-465395748.jpg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: aliceblue;
}
.white-text-with-white-shadow {
    text-shadow: 1px 1px 2px whitesmoke, 0 0 1em whitesmoke, 0 0 0.2em whitesmoke;
    color: white;
    font: 1.5em Georgia, serif;
 }
